body {background-color: rgb(28, 9, 84);}

.titulo{text-align: center;
    color: white;
    font-size: 60px;
    font-family: 'Mulish', sans-serif;}


h3{color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;}

form{
    color: white;
    font-size: 25px;
    align-items: center;}

.container {  display: grid;
    grid-template-columns: 6fr 3fr 3fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "izquierda derecha-uno derecha-dos"
        "izquierda derecha-uno derecha-dos"
        "izquierda derecha-uno derecha-dos";
      }
      
.izquierda { grid-area: izquierda; }
      
.derecha-uno { grid-area: derecha-uno;     background-color: white;}
      
.derecha-dos { grid-area: derecha-dos;     background-color: white;}

.derecha-uno  img{
min-width: 300px;
}
.derecha-dos img{
    min-width: 300px;

    }
  