body {background-color: #6f7b86;}

div{text-align: center;
    color: white;}


h3{color: white;}

form{
    color: aliceblue;
    font-size: 25px;
    align-items: center;
    }
    

table, th, td {
    border: 3px solid black;
    border-collapse: collapse;
    background-color: white;
    align-items: center;
  }

  