.sticky { grid-area: sticky; 
    position: sticky;
    top: 0;
    background-color: rgb(73, 126, 224);}

.ppal{
    display: flexbox;
}
.logo-principal {
    display: flex;
    justify-content: left;}

.titulo {
    display: flex;
    justify-content: left;} 
    
.botones-der{
    display: flex;
    justify-content: right;}

.buscador { grid-area: buscador; 
    background-color: white;}
  
.universidades { grid-area: universidades; }    








body {background-color: rgb(28, 9, 84);}
*{border:1px solid red}


h3{color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;}

form{
    color: white;
    font-size: 25px;
    align-items: center;}

