body {margin: 0px;
    background-color: rgb(28, 9, 84);
    font-family: 'Montserrat', sans-serif;}

.sticky { grid-area: sticky; 
    position: sticky;
    top: 0;
    background-color: rgb(73, 126, 224);}

.container{
    display: flex;}

.espacio{
    flex-grow: 10;}

.logo-principal {
    flex-direction: flex-start;
    text-align: center;
    align-self: center;}

.titulo-principal {
    flex-direction: flex-start;
    justify-content: left;
    flex-grow: 1;
    text-align: center;
    align-self: center;
    font-size: 40px;
    color: white;}

.botones-der{
    flex-direction: flex-end;
    justify-content: right;
    flex-grow: 1;
    align-self: center;
    text-align: center;
    color: white;} 



.informacion {color: white;
    margin-top: 20px;
    font-size: 40px;}

p {color: white;
    text-align: justify;
    font-size: 15px;
    margin-bottom: 30px;}

.carreras{
    display: flex;
    flex-wrap: wrap;
    margin-left: 90px;
    margin-right: 90px;
    justify-content: space-around;}

.nombre-carrera {
    color: white;
    font-size: 20px;
    padding: 15px;
    background-color: rgb(89, 138, 217) ;
    margin: 10px;
    text-align: left;}
